html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font: 14px 'Poppins', sans-serif;
}

a {
    color: #912b6f;
    text-decoration: none;
}

::placeholder {
    color: #cccccc;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #cccccc;
}

::-ms-input-placeholder {
    color: #cccccc;
}

/* Header */
header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    background: linear-gradient(235deg, #d31a2c 0%, #912b6f 100%);
    z-index: 2000;
}

header .logo {
    display: flex;
    width: 4rem;
    height: 3rem;
    background-image: url(/img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(100);
}

header .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

header .main .usuario {
    display: flex;
    align-items: center;
}

header .main .usuario a {
    background: white;
    border-radius: 4rem;
    padding: 0.5rem;
    font-size: 0;
    color: #d31a2c;
    margin-left: 1rem;
}

header .main .usuario a svg {
    width: 1rem;
    height: 1rem;
}

header .breadcrumb {
    width: 100%;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    background: #b5bdc4;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 0.8rem;
    font-weight: 400;
}

header .breadcrumb a {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
}

header .breadcrumb a:hover {
    color: #912B6D;
}

header .breadcrumb svg {
    height: 16px;
    width: 16px;
}

#cambiosGuardados {
    display: none;
    width: 100%;
    background: #188c52;
    font-size: 0.6rem;
    padding: 0.25rem 2rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#cambiosGuardados.visible {
    display: flex;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    box-sizing: border-box;
    background: #696f74;
    color: white;
}

/* Common HTML elements */
h1 {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

canvas {
    outline: none;
}

svg.feather {
    width: 1rem;
    height: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 8rem 2rem 0;
    box-sizing: border-box;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
}

section.columnas {
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
}

button,
input {
    background: white;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    border: 2px solid #912B6D;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    outline: none;
}

button,
input[type="submit"] {
    width: 100%;
    background: hsl(320deg 54% 37%);
    color: white;
    text-transform: uppercase;
    box-shadow: 0 0 1rem rgb(255 255 255 / 50%);
    cursor: pointer;
    transition: 0.1s linear background;
}

button,
input[type="submit"]:hover {
    background: hsl(320deg 54% 42%);
}

button.disabled,
input[type="submit"].disabled {
    background: #b5bdc4;
    cursor: default;
}

select {
    background: #f4f4f4;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
    max-width: 10rem;
    cursor: pointer;
    text-transform: capitalize;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin-top: 4rem;
}

table th {
    padding-bottom: 1rem;
    vertical-align: baseline;
    background-color: #444d55;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
}

table th.sortable:hover {
    background-color: #912B6D;
    cursor: pointer;
}

table th,
table td {
    padding: 0.25rem 0.5rem;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
    transition: 0.2s ease all;
}

table td {
    border: 0;
    color: #444d55;
}

table th>svg {
    display: none;
    vertical-align: text-top;
}

table th.sorted.desc svg.feather-chevron-down {
    display: inline;
}

table th.sorted.asc svg.feather-chevron-up {
    display: inline;
}

table th .columna {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

table th .columna span {
    color: #696f74;
    font-weight: 400;
}

table th .columna input,
table th .columna select {
    margin-top: 1rem;
    font-size: 0.75rem;
}

table tr[data-id] {
    cursor: pointer;
}

table tr.hidden {
    opacity: 0.25;
}

table tr {
    background: white;
}

table tr.even {
    background: #f4f4f4;
}

table td.sorted {
    background-color: #912B6D;
    color: white;
}

table tr.focused td {
    padding: 0.5rem 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: #ffef9f;
}

table td span.extra {
    background-color: #72b6de;
    font-weight: 600;
    font-size: 0.5rem;
    color: white;
    padding: 0.125rem 0.25rem;
    border-radius: 1.25rem;
}

table td span.protected {
    background-color: #72b6de;
}

table td span.annexes {
    background-color: #dea972;
}

.panel {
    background: #fafafa;
    border-radius: 1rem;
    margin: 1rem;
    flex-grow: 1;
    width: 30%;
    min-height: 30vh;
    overflow: hidden;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
}

.panel.mitad {
    width: 48%;
}

.columnas .panel {
    width: auto;
    min-height: auto;
}

.campo {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem 2rem;
}

.elemento {
    border: 2px solid #b5bdc4;
    border-radius: 1rem;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#paginacion {
    flex-direction: column;
}

#infoTabla {
    color: #b5bdc4;
    font-weight: 300;
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

#infoTabla b {
    font-weight: 300;
}